@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@media only sreen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 2rem;
  }
}
:root {
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --darkgray: darkgray;
  --dimgray: dimgray;
  --lightgray: lightgray;
  --ultralightgray: #EAEAEA;
  --graywhite: #F6F6F6;
  --lightpurple: #F5EDFF;
  --lightgreen: #99E2D0;
  --green: #2FAF94;
  --grayblack: #353535;
}

.gray {
  color: var(--dimgray);
}

/*  HEADER  */
body {
  box-sizing: border-box;
  margin: 0 auto;
}

body main {
  background-color: #F6F6F6;
}

header {
  box-shadow: 0 5px 10px lightgrey;
}

header h1 {
  font-size: 2.3rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

header > div {
  display: flex;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 2rem;
}

.logo i {
  cursor: pointer;
}

.titre {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

main img {
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.titre-menu {
  position: relative;
  top: -5rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-basis: 95%;
}

.titre-menu i {
  display: flex;
  font-size: 2rem;
  padding-right: 3rem;
}

.layout-star {
  display: flex;
  width: 15%;
  height: 50px;
  align-items: center;
}

.layout-star .fa-solid.fa-heart {
  display: none;
}

.layout-star:hover {
  cursor: pointer;
  background: linear-gradient(var(--primary) 20%, var(--secondary) 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.layout-star:hover .fa-regular.fa-heart {
  display: none;
}

.layout-star:hover .fa-solid.fa-heart {
  display: inline;
}

/*   PANIER  */
.panier {
  position: absolute;
  left: 85%;
  top: 20px;
  max-width: 1024px;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
}

.panier span {
  padding-left: 10px;
  color: var(--green);
}

/*   MENU  */
.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
}

.entrees, .plats, .desserts {
  padding: 0 1rem 3rem 0;
}

.entrees h4, .plats h4, .desserts h4,
.entrees p, .plats p, .desserts p {
  margin: 0;
  padding: 0.5rem;
}

.entrees h3, .plats h3, .desserts h3 {
  margin: 0;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color: rgb(158, 226, 208);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  text-transform: uppercase;
}

/* Barre verte sous titre de menu */
.entrees > p, .plats > p, .desserts > p {
  width: 47px;
  color: var(--ultralightgray);
  border-top: 3px solid var(--lightgreen);
}

.article-menu {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 470px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  animation: effet-menu 1s ease-in;
  box-shadow: 0 2px 5px darkgray;
}

.article-menu:hover .select-choix {
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.article-menu:hover .select-choix i {
  animation: spin 1s;
}

.article-menu input {
  width: 470px;
  height: 60px;
  position: absolute;
  visibility: hidden;
}

.article-menu label {
  position: absolute;
  width: 470px;
  height: 60px;
  border-radius: 1rem;
}

.article-menu label:hover {
  cursor: pointer;
}

.article-menu input[type=checkbox]:checked + label {
  background-color: var(--green);
  opacity: 0.2;
  box-shadow: 0 0 5px 3px black;
}

.article-menu h2 {
  display: none;
}

.description {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

.prix {
  display: flex;
  font-weight: bold;
  padding: 36px 5px 0 0;
  right: 24px;
  position: absolute;
}

.menu__valider {
  position: relative;
  right: -60px;
  height: 70px;
  width: 60px;
  display: inline-block;
  transform: translateX(0px);
  transition: all 250ms ease-in-out;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description:hover, .prix:hover {
  cursor: pointer;
}

body main .menus {
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F6F6F6;
}

body main .menus .articles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

body section {
  border: 0;
}

body main .btn-explore a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 40px;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 25px;
  box-shadow: 0 3px 10px darkgray;
  transition: 100ms;
  height: 50px;
  position: relative;
  width: 186px;
  top: 25px;
  margin-bottom: 50px;
}

body main .btn-explore {
  width: 100%;
  height: 50px;
  justify-content: center;
  display: flex;
  margin-top: 25px;
}

/*   FOOTER  */
.footer {
  background-color: var(--grayblack);
  color: white;
  padding: 0 0 1rem;
}

.footer .fas {
  color: #FAFAFA;
}

/*  MEDIA QUERIES  */
@media (max-width: 768px) {
  .subtitle {
    font-size: 1.2rem;
  }
  body main .menus .articles .entrees p .plats .desserts {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 530px) {
  .article-menu, .article-menu input, .article-menu label {
    width: 370px;
    margin-bottom: 1rem;
    height: 69px;
  }
  .entrees, .plats, .desserts {
    padding: 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 1rem;
  }
}
@media (max-width: 667px) {
  body main .menus .articles .entrees .article-menu:hover .select-choix, body main .menus .articles .plats .article-menu:hover .select-choix, body main .menus .articles .desserts .article-menu:hover .select-choix {
    margin: 0;
    transition: all 0.5s;
    cursor: pointer;
  }
}
/*   KeyFrames  */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effet-menu {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
body {
  font-family: "roboto", serif;
}

.logo i {
  font-size: 2rem;
  color: black;
}

header h1 {
  font-family: "Shrikhand", sans-serif;
}

.main- {
  font-weight: bold;
  font-size: 24px;
}

.btn-explore h1 {
  font-size: 24px;
  font-weight: 700;
}

.btn-explore p {
  font-size: 18px;
  font-family: "roboto";
  font-weight: 300;
}

body main .btn-explore a {
  font-size: 16px;
}

.fonctionnement .fa-solid, .fas {
  font-weight: 900;
  color: rgb(126, 126, 126);
}

.fa-store:before {
  color: #9356dc;
}

.btn-explore a {
  font-size: 16px;
  color: white;
}

.titre h1 {
  font-family: "Shrikhand", sans-serif;
}

.choix {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.choix span {
  font-weight: bold;
  color: white;
}

.footer {
  background-color: #353535;
  color: white;
}

.footer .fas {
  color: #FAFAFA;
}

.footer a {
  text-decoration: none;
  color: white;
}

h3 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 17px;
}

.explore-restaurants {
  font-weight: bold;
}

.titre-menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

.entrees h4, .plats h4, .desserts h4 {
  font-size: 18px;
  font-family: "roboto";
  font-weight: 500;
}

.entrees p, .plats p, .desserts p {
  font-size: 15px;
  font-family: "roboto";
}

.layout-star {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1440px) {
  .btn-explore h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .fonctionnement h2 {
    margin: 2rem 0 0 14rem;
  }
  .restaurants h2 {
    margin: 2rem 0 0 3rem;
  }
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body header .loader {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 1;
  background: #353535;
  overflow: hidden;
  font: 5vw/100vh "Shrikhand";
  font-size: 4rem;
  text-align: center;
  color: #9356dc;
  backface-visibility: hidden;
  animation: stop-loader 0.5s 3s forwards;
  transform-origin: top right;
}

.ville h3 {
  font-size: 18px;
  padding-left: 1rem;
}

header {
  text-align: center;
}

.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
}

.ville .fa-solid, .fas {
  color: #000;
}

.btn-explore h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-restaurants {
  border-radius: 25px;
  width: 218px;
  height: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 5px 10px 0px #000;
  color: white;
  padding: 1rem;
  border: none;
}

.btn-explore p {
  align-content: center;
  text-align: center;
}

.btn-explore a {
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(var(--secondary), var(--primary));
  box-shadow: 0 3px 10px var(--darkgray);
  text-decoration: none;
  margin-bottom: 30px;
}

.btn-explore a:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px var(--secondary);
}

.btn-explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body main {
  background-color: white;
}

.main-container {
  width: 100%;
}

.main-fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.main-fonctionnement h2 {
  padding: 2rem 1rem 0 2rem;
}

.fonctionnement {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 20px;
}

.choix span {
  left: -26px;
  width: 40px;
  position: relative;
  height: 40px;
  border-radius: 20px;
  background-color: #9356dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choix {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  border: none;
  box-shadow: 0px 5px 10px 0px #b4b4b4;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  height: 60px;
  gap: 10px;
}

.choix i {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 246);
  margin-top: 10px;
}

.restaurants h2 {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.restaurants .card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 8px darkgray;
  margin-bottom: 25px;
}

.restaurants .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  border-radius: 1rem 1rem 0 0;
}

.restaurants .card .description {
  display: flex;
  justify-content: space-around;
}

.restaurants .card .description .layout {
  width: 85%;
}

.restaurants .card .description .layout h3, .restaurants .card .description .layout p {
  margin: 0;
}

.restaurants .card .description .layout-star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 50px;
  font-size: 1.5rem;
}

.restaurants .card .description .layout-star .fa-solid.fa-heart {
  display: none;
}

.restaurants .card .description .layout-star:hover {
  cursor: pointer;
  background: linear-gradient(#9356dc 20%, #ff79da 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants .card .description .layout-star:hover .fa-regular.fa-heart {
  display: none;
}

.restaurants .card .description .layout-star:hover .fa-solid.fa-heart {
  display: inline;
}

.restaurants .card a {
  text-decoration: none;
  color: inherit;
}

.restaurants .card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px #9356dc;
}

.restaurants span {
  position: absolute;
  content: "";
  right: 10px;
  top: 20px;
  font-weight: bold;
  background-color: #99E2D0;
  color: #2FAF94;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .restaurants .card {
    display: flex;
    flex-basis: 90%;
    min-width: 210px;
  }
}
/*   FOOTER  */
.footer {
  padding: 0 0 1rem;
  margin-top: 4rem;
}

.footer a {
  gap: 7px;
  display: flex;
}

.footer-titre {
  margin-top: 2rem;
  font-size: 18px;
  padding: 2rem 1rem 0;
}

.cards {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  padding: 14px;
}

@media (min-width: 768px) {
  .fonctionnement {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  .fonctionnement h2 {
    justify-content: center;
  }
  .cards {
    display: grid;
    gap: 25px;
  }
  .restaurants .card img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 291px;
    border-radius: 1rem 1rem 0 0;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 1.5rem;
  }
  .footer__liste {
    display: flex;
    gap: 1rem;
    margin: 2rem;
  }
}
@keyframes stop-loader {
  0% {
    transform: scale(1);
    background-color: lightblue;
  }
  100% {
    transform: scale(0);
    background-color: lightcoral;
  }
}/*# sourceMappingURL=style.css.map */