@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import'utils/variables';
@import'utils/mixins';
@import'layouts/footer';
@import'pages/restaurants';
@import'base/typography';

body{
 margin:0px;
}
.ville h3{
    font-size: 18px;
    padding-left: 1rem;
}
h2{
    padding-left: 2rem;
}
header {
 text-align: center;
}
.ville{
    @include flex-just;
    background-color: rgba(234, 234, 234, 1);
   
}
.btn-explore{
    text-align: center;
}
.fa-store:before{
  color: #9356dc;
}
.explore-restaurants{
    border-radius: 25px;
    width: 218px;
    height: 50px;
    background:linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 5px 10px 0px #000 ;
    color:white;
    padding: 1rem;
    border:none;
    
}
.titre-fonctionnement h2{
    padding-left: 2rem;
}
.fonctionnement {
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap:2rem;
  margin-bottom:3rem;
}
.choix span{
    left: -2rem;
    padding: 0 0.5rem;
    position: relative;
    border: 5px solid #9356dc;
    border-radius: 50%;
    font-weight: bold;
    background-color: #9356dc;
    color: white;
}
.choix{
  @include flex-fl;
    border-radius: 20px;
    padding: 1rem;
    border: none;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
    background-color: #FAFAFA;
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: 2rem;
    width:255px;
   
}
.choix i{
    padding-right: 1rem;
}

.restaurants {
   @include flex-j; 
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3rem;
    
    
}
.restaurants .card {
  cursor: pointer;
  position: relative;
  @include flex-di;
  flex-basis: 45%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 3px 8px darkgray;
  margin-top:1rem;
}
.restaurants .card img {
    width: 100%;
    object-fit: cover;
     max-height: 150px;
    border-radius: 1rem 1rem 0 0;
}
.restaurants .card .description {
    display: flex;
    justify-content: space-around;
  }
  .restaurants .card .description .layout {
    width: 85%;
  }
  .restaurants .card .description .layout h3, .restaurants .card .description .layout p {
    margin: 0;
  }
  .restaurants .card .description .layout-star {
    @include flex-just;
    width: 15%;
    height: 50px;
    font-size: 1.5rem;
  }
  .restaurants .card .description .layout-star .fa-solid.fa-heart {
    display: none;
  }
  .restaurants .card .description .layout-star:hover {
    cursor: pointer;
    background: linear-gradient(#9356dc 20%, #ff79da 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .restaurants .card .description .layout-star:hover .fa-regular.fa-heart {
    display: none;
  }
  .restaurants .card .description .layout-star:hover .fa-solid.fa-heart {
    display: inline;
  }
  .restaurants .card a {
    text-decoration: none;
    color: inherit;
  }
  .restaurants .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px #9356dc;
  }
  .restaurants span {
    position: absolute;
    content: "";
    right: 10px;
    top: 20px;
    font-weight: bold;
    background-color: #99E2D0;
    color: #2FAF94;
    padding: 0.5rem;
    
  }
  .restaurants h2 {
    width: 100%;
 }
 @media (max-width: 660px) {
   .restaurants .card {
     display: flex;
     flex-basis: 90%;
     min-width: 210px;
     margin-top: 1rem;
   }
 }
 
  .violet-icon{
    color: #9356dc;
  }
  
  
 






  
  