@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import'utils/variables';
@import'utils/mixins';
@import'layouts/footer';
@import'pages/restaurants';
@import'base/typography';


body header .loader {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 1;
  background: #353535;
  overflow: hidden;
  font: 5vw / 100vh "Shrikhand";
  font-size: 4rem;
  text-align: center;
  color: #9356dc;
  backface-visibility: hidden;
  animation: stop-loader 0.5s 3s forwards;
  transform-origin: top right;
}

.ville h3{
    font-size: 18px;
    padding-left: 1rem;
}

header {
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}
.ville{
    @include flex-just;
    background-color: rgba(234, 234, 234, 1);
   
}
.ville .fa-solid, .fas{
  color:#000;
}
//.. partie titre + explorer //
.btn-explore h1  {
 @include flex-just;
 padding: 0 0 0 20px;
}

.explore-restaurants{
    border-radius: 25px;
    width: 218px;
    height: 50px;
    background:linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 5px 10px 0px #000 ;
    color:white;
    padding: 1rem;
    border:none;
    
}
.btn-explore p{
  align-content: center;
  text-align: center;

}
.btn-explore a {
  padding: 1rem;
   border-radius: 2rem;
  background: linear-gradient(var(--secondary), var(--primary));
  box-shadow: 0 3px 10px var(--darkgray);
  text-decoration: none;
  margin-bottom: 30px;
}
.btn-explore a:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px var(--secondary);
}

.btn-explore {
    background-color: #f6f6f6;
    @include flex-col;
    flex-direction: column;
    text-align: center;
    padding: 0 25px;
 }
  

// ** partie main ** //
main{
  background-color: white;
}
.main-container{
 width: 100%;
 max-width: 1440px;
}
.main-fonctionnement{
 display: flex;
 flex-direction: column;
 margin-top: 10px;
 padding:0 20px 0 20px;

}
 .main-fonctionnement h2{
  width: 100%;
  align-items: center;
  justify-content: space-around;
  
 }
.fonctionnement {
 display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 10px;
  
}
.choix span{
    left: -20px;
   width: 35px;
    position: relative;
    height: 35px;
    border-radius: 20px;
    background-color: #9356dc;
    @include flex-col;
    justify-content: center;
}
.choix{
  display: flex;
  align-items: center;
    border-radius: 25px;
    padding: 5px;
    border: none;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
    background-color: #f6f6f6;
    height:60px ;
    gap: 10px;
}
.choix i{
  @include flex-col;
  
}
// ** partie restaurants  ** //

.restaurants  {
 @include flex-just;
    flex-wrap: wrap;
   background-color: rgba(246,246,246,1);
   margin-top: 10px;
   padding: 0 15px;
}
.restaurants h2{
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0 20px 20px;
 }
.restaurants .card {
  cursor: pointer;
  position: relative;
  @include flex-di;
  flex-basis: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 8px darkgray;
 margin-bottom: 25px;
}
.restaurants .card img {
    width: 100%;
    object-fit: cover;
    height: 231px;
    border-radius: 1rem 1rem 0 0;
}
.restaurants .card .description {
    display: flex;
    justify-content: space-around;
  }
  .restaurants .card .description .layout {
    width: 85%;
  }
  .restaurants .card .description .layout h3, .restaurants .card .description .layout p {
    margin: 0;
  }
  .restaurants .card .description .layout-star {
    @include flex-just;
    width: 15%;
    height: 50px;
    font-size: 1.5rem;
  }
  .restaurants .card .description .layout-star .fa-solid.fa-heart {
    display: none;
  }
  .restaurants .card .description .layout-star:hover {
    cursor: pointer;
    background: linear-gradient(#9356dc 20%, #ff79da 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .restaurants .card .description .layout-star:hover .fa-regular.fa-heart {
    display: none;
  }
  .restaurants .card .description .layout-star:hover .fa-solid.fa-heart {
    display: inline;
  }
  .restaurants .card a {
    text-decoration: none;
    color: inherit;
  }
  .restaurants .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px #9356dc;
  }
  .restaurants span {
    position: absolute;
    content: "";
    right: 10px;
    top: 20px;
    font-weight: bold;
    background-color: #99E2D0;
    color: #2FAF94;
    padding: 0.5rem;
    transition: transform 0.3s ease;
  }
  .restaurants span:hover{
    animation: decrocher 0.75s ease-in-out forwards;
  }
   /*   FOOTER  */
    
  .footer a{
    gap: 10px;
    display:flex;
  }
  .footer-titre{
      padding:10px;
      margin: 0;
    }
    .footer__liste{
      list-style-type:none;
      display: grid;
      gap:7px;
    }
    
    .cards{
      width:100%;
      grid-template-columns: repeat(2, 1fr);
      padding: 14px;
     }       
    @media (min-width: 768px) {
     body{
      align-items: center;
      max-width: 1440px;
     }
     
    .fonctionnement{
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap:8rem;
    
   }
   .main-fonctionnement {
    padding:3rem 9rem;
   }
  .cards{
    display:grid;
    gap:25px;
   }
  .restaurants .card img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 291px;
    border-radius: 1rem 1rem 0 0;
  }
  .restaurants .card {
    display: flex;
    flex-basis: 90%;
    min-width: 210px;
    
  }
  .footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem 1.5rem;
    flex-direction: row-reverse;
}
  .footer__liste{
    display: flex;
    gap:1rem;
    margin:2rem;
   
  }
  }

  @keyframes stop-loader {
    0% {
        transform: scale(1);
        background-color: rgb(211, 103, 31);
    }
    100% {
        transform: scale(0);
        background-color: rgb(77, 100, 228);
    }
}
  @keyframes decrocher {
    0% {
      transform: translateY(0); 
     }
  
  90% {
      transform: translateY(10px) rotate(90deg); 
  }
  100% {
     transform: translateY(0) rotate(0);
  }
}


         
        
       