@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import'utils/variables';
@import'utils/mixins';
@import'layouts/footer';
@import'pages/restaurants';
@import'base/typography';



body{
    
    margin:0px;
    
}

h3{
    font-size: 24px;
    padding-left: 20px;
    font-family: roboto;
   
}

header {
    
    text-align: center;
    
    
}

.ville{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:17px ;
    background-color: rgba(234, 234, 234, 1);
    padding:3px;
}
.hero{
    text-align: center;
     margin: 20px 15% 0 15%;
   
}
button{
    border-radius: 25px;
    width: 218px;
    height: 50px;
    background:rgb(236, 97, 213);
    box-shadow: 0px 5px 10px 0px ;
    color:white;
    padding: 1rem;
    border:none;
}

.fonctionnement {
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.choix span{
    padding: 0 1rem;
}
.choix{
    display: flex;
    flex-flow:row wrap;
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid;
    padding: 1rem;
    border: none;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
    background-color: #FAFAFA;
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    color: #000;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
   
}

