@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.accessibility-label {
  position: absolute;
  left: -999px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: dimgray;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  max-width: 1224px;
}

header {
  box-shadow: 0 5px 10px lightgrey;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 0 3rem 2rem;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
footer a {
  text-decoration: none;
  color: white;
}

body header > div {
  display: flex;
}
body header .logo {
  display: flex;
  flex-basis: 2rem;
  align-items: center;
  margin-left: 1rem;
}
body header .logo i {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
body header .titre {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
body header .titre h1 {
  font-family: "Shrikhand", cursive;
}
body main {
  background-color: #EAEAEA;
}
body main img {
  height: 400px;
  object-fit: cover;
  object-position: 50% 70%;
  width: 100%;
}
body main .titre-menu {
  position: relative;
  top: -5rem;
  border-radius: 3rem 3rem 0 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-basis: 95%;
  padding-left: 2rem;
  background-color: #EAEAEA;
}
body main .titre-menu h1 {
  font-family: "Shrikhand", cursive;
}
body main .titre-menu i {
  display: flex;
  font-size: 2rem;
  align-items: center;
  padding-right: 3rem;
}
body main .entrees {
  padding: 0 0 5rem 1rem;
}
body main .entrees h4, body main .entrees p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .entrees h3 {
  border: 3rem;
  border-color: green;
}
body main .entrees input {
  display: none;
}
body main .entrees .form {
  display: flex;
  border: 1px solid transparent;
  width: 300px;
  height: 60px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
body main .entrees .form .description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
body main .entrees .form .prix {
  display: flex;
  width: 15%;
  font-weight: bold;
  align-items: flex-end;
  justify-content: start;
  padding: 0 0.5rem 0.5rem 0;
  border-radius: 0 1rem 1rem 0;
}
body main .entrees .form .select-choix {
  display: flex;
  background-color: #99E2D0;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  margin-right: -4rem;
}
body main .entrees .form:hover .select-choix {
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}
body main .entrees .form:hover .select-choix i {
  animation: spin 1s;
}
body main .entrees .form .description:hover,
body main .entrees .form .prix:hover {
  cursor: pointer;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
