body{
    font-family:"roboto",serif;
     
}
header h1{
    font-family : 'Shrikhand', sans-serif;
}
.bold {
    font-weight: bold;
    font-size: 24px;
}
.btn-explore h1{
    font-size: 24px;
    font-weight: 700;
}
.btn-explore p{
    font-size:18px;
    font-family: "roboto";
    font-weight: 300;

}
.titre h1 {
    font-family: "Shrikhand", sans-serif;
}
.choix{
    
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.footer{
    background-color: #353535;
    color: white;
    
}
.footer a {
    text-decoration: none;
    color: white;
}
h3{
  font-family: roboto;
  font-size: 16px;
  font-weight: 300;
}
p{
    font-size: 17px;
}
 .explore-restaurants{
  font-weight:bold;
 }
 .titre-menu h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 28px;
  font-weight: 400;
}
footer h4 {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}
.entrees h4, .plats h4, .desserts h4 {
    font-size: 18px;
    font-family: "roboto";
    font-weight: 500;
}
.entrees p, .plats p, .desserts p{
    font-size: 15px;
    font-family: "roboto";
    font-weight: 300;
}
@media only screen and (min-width: 1440px) {
    .btn-explore h1{
        font-size: 40px;
        font-weight: 700;
    }
    .fonctionnement h2{
        
            margin: 2rem 0 0 14rem;
        }
        .restaurants h2{
            margin: 2rem 0 0 3rem;
            
        }
    }


  


  
  
  