body{
    font-family:"roboto",serif;
    
}
.choix{
    
    color: #000;
    font-family: "Roboto", sans-serif;
}
.footer{
    background-color: #353535;
    color: white;
    padding-left: 1rem;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer h4{
    margin-top: 2rem;
}
h4{
    padding-top: 2rem;
}

h3{
  font-family: roboto;
}
 button{
  font-weight:bold;
 }
  
  
  
  
  

  
  
  