.restaurants {
   
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
  }
  .restaurants .card {
    cursor: pointer;
    position: relative;
    width: 100%;
    gap: 35px;
    height: 270px;
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    
    border-radius: 1rem;
    box-shadow: 0 3px 8px darkgray;
  }
  .restaurants .card img {
    width: 100%;
    object-fit: cover;
     max-height: 200px;
    border-radius: 1rem 1rem 0 0;
  }
  .restaurants .card .description {
    display: flex;
    justify-content: space-around;
  }
  .restaurants .card .description .texte {
    width: 85%;
  }
  .restaurants .card .description .texte h3, .restaurants .card .description .texte p {
    margin: 0;
    padding: 0.3rem 0 0 1rem;
  }
  .restaurants .card .description .texte-star {
    display: flex;
    width: 15%;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .restaurants .card .description .texte-star .fa-solid.fa-heart {
    display: none;
  }
  
  .restaurants .card .description .texte-star:hover .fa-regular.fa-heart {
    display: none;
  }
  .restaurants .card .description .texte-star:hover .fa-solid.fa-heart {
    display: inline;
  }
  .restaurants .card a {
    text-decoration: none;
    color: inherit;
  }
  .restaurants .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px #9356dc;
  }
  .restaurants span {
    position: absolute;
    
    right: 10px;
     top: 20px;
    font-weight: bold;
    background-color: #99E2D0;
    color: #2FAF94;
    padding: 0.5rem;
    width: 65px;
  }
  .restaurants h3 {
   padding-left: 3rem;
    width: 100%;
  }
  