:root {
    --primary: #9356dc;
    --secondary: #ff79da;
    --tertiary: #99e2d0;
    --darkgray: darkgray;
    --dimgray: dimgray;
    --lightgray: lightgray;
    --ultralightgray: #EAEAEA;
    --graywhite: #F6F6F6;
    --lightpurple: #F5EDFF;
    --lightgreen: #99E2D0;
    --green: #2FAF94;
    --grayblack: #353535;
}
.gray {
    color: var(--dimgray);
}

/*  HEADER  */

body {
    box-sizing: border-box;
    margin: 0 auto;
     max-width: 1024px;
}
header {
    box-shadow: 0 5px 10px lightgrey;
}
 header h1 {
        font-size: 2.3rem;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
       
 }


header > div {
    display: flex;
}
.logo {
    display: flex;
    flex-basis: 2rem;
    align-items: center;
    justify-content: center;
}
.logo i {
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.titre {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

main img {
    height: 300px;
    object-fit: cover;
    object-position: 50% 70%;
    width: 100%;
}

.titre-menu {
    position: relative;
    top: -5rem;
    border-radius: 3rem 3rem 0 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 95%;
    padding-left: 2rem;;
    
}
.titre-menu i {
    display: flex;
    font-size: 2rem;
    padding-right: 3rem;
}
 .layout-star {
    display: flex;
    width: 15%;
    height: 50px;
    align-items: center;
    font-size: 1.5rem;
}
.layout-star .fa-solid.fa-heart { 
    display: none;
}
.layout-star:hover {
    cursor: pointer;
    background: linear-gradient(var(--primary) 20%, var(--secondary) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.layout-star:hover .fa-regular.fa-heart {
    display: none;
}
.layout-star:hover .fa-solid.fa-heart { 
    display: inline;
}
/*   PANIER  */
.panier {
    position: absolute;
    left: 85%;
    top: 20px;
    max-width: 1024px;
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
}
.panier span {
    padding-left: 10px;
    color: var(--green);
}

/*   MENU  */

.menus {
   @include flex-col;
}

.entrees, .plats, .desserts {
    padding: 0 1rem 3rem 0;
}
.entrees h4, .plats h4, .desserts h4,
.entrees p, .plats p, .desserts p {
    margin: 0;
}
.entrees h3, .plats h3, .desserts h3 {
    margin: 0;
    margin-bottom: 1rem;
    text-decoration: underline; 
    text-decoration-color:rgb(158,226,208);
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}
    /* Barre verte sous titre de menu */

.entrees > p, .plats > p, .desserts > p {
    width: 47px;
    color: var(--ultralightgray);
    border-top: 3px solid var(--lightgreen);
}
.article-menu {
    display: flex;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    width: 470px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    animation: effet-menu 1s ease-in;
}

.article-menu:hover .select-choix {
    margin: 0;
    transition: all 0.5s;
    cursor: pointer;
}
.article-menu:hover .select-choix i {
    animation: spin 1s;
}
.article-menu input {
    width: 470px; 
    height: 60px;
    position: absolute;
    visibility: hidden;
}
.article-menu label { 
    position: absolute;
    width: 470px; 
    height: 60px;
    border-radius: 1rem;
}
.article-menu label:hover {
    cursor: pointer;
}

.article-menu input[type="checkbox"]:checked + label {
    background-color: var(--green);
    opacity: 0.2;
    box-shadow: 0 0 5px 3px black;
}

.article-menu h2 { 
    display: none; 
}

.description {
    white-space: nowrap;
    text-overflow: ellipsis;
     padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.prix {
    display: flex;
    width: 6rem;
    font-weight: bold;
    align-items: flex-end;
    justify-content:end;
    padding: 0 0.5rem 0.5rem 0;
    border-radius: 0 1rem 1rem 0;
}
.select-choix {
   @include flex-just;
    background-color: var(--lightgreen);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
     border-radius: 0 1rem 1rem 0;
    width: 4rem;
   
}
.description:hover, .prix:hover {
    cursor: pointer;
}

.btn-explore {
  @include flex-j; 
    flex-wrap: wrap;
 }

.btn-explore label {
    padding: 1.3rem;
    color: white;
    border-radius: 2rem;
    font-size: 1.3rem;
    background: linear-gradient(var(--secondary), var(--primary));
    margin-bottom: 3rem;
    margin-top: 2rem;
    box-shadow: 0 3px 10px var(--darkgray);
}
.btn-explore label:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 3px 10px var(--secondary);
}
.btn-explore p {
    font-size: 16px;
    margin: 0;
    padding: 0 1rem;
    flex-basis: 100%;
}
bodymain .menus .articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}
body section{
    border:0;
}

/*   FOOTER  */

footer {
    background-color: var(--grayblack);
    color: white;
    padding:0 0 1rem;
}

footer a {
    text-decoration: none;
    color: white;
}
/*  MEDIA QUERIES  */

@media (max-width : 768px) {
    .subtitle {
        font-size: 1.2rem;
    }
    body main .menus .articles .entrees p .plats .desserts{
        display: flex;
        justify-content: flex-start;
    }
    
}

@media (max-width: 530px) {
    .article-menu, .article-menu input, .article-menu label {
        width: 350px;
        margin-bottom: 1rem;
    }
    .entrees, .plats, .desserts {
        padding: 0;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    
    }
    
    
    
}

/*   KeyFrames  */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes effet-menu {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}